
.nav_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    cursor: pointer;
  }
  
  .game{
    max-width: 50px;
    max-height: 50px;
    opacity: 50%;
  }
  
  .game:hover{
    opacity: 100%;
  }
  
  .nav_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  
  .nav_top>h1 {
    font-size: 70px;
    cursor: pointer;
  }
  
  .nav_top>h1:hover {
    text-shadow: -3px 0px #01FDD7;
  }
  
  .nav_top>h3 {
    font-size: 15px;
    font-weight: 300;
  }
  
  .Nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: black;
    width: 200px;
    color: white;
    min-height: 100vh;
    position: sticky;
    top: 0px;
    left: 0px;
  }
  
  .nav_menu>a:hover {
  color: #01FDD7;
  }

  
  
  .nav_menu>a{
    color: white;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
  }

  .active{
    
    color: #01FDD7;
    font-size: larger;
    
  }